/* Global Rules Start */

:root {
	--main-section-padding: 100px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium Screen */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large Screen */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* Components Start */
/* Components End */

/* Global Rules End */

/* Description Start */

main .description .header {
	margin-bottom: 50px;
	border-bottom: 2px solid #707070;
}

main .description .header h3 {
	font-weight: 300;
	font-size: 18px;
}

main .description .header h1 {
	font-size: 40px;
}

/* Description End */
